
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="homee">
  <div class="home1">
    <h1 id="homeheader">URL Shortener</h1>
    <% if(locals.id){  %>
     <div class="url-container">  <p id="urlgenerated">URL Generated:</p> <p id="urllink">http://localhost:8001/url/<%= id %> </p></div>

   <% }%>
    <div class="url">
        <form method="POST" action="/url">
            <label id="og">Enter the original URL</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit" id="gen">Generate</button>
        </form>
    </div>
    <div class="clicks">
        <% if(locals.urls){ %>
        <table>
      <thead>
        <th>S.No</th>
        <th>ShortID</th>
        <th>Redirect</th>
        <th>Clicks</th>
        </thead>
      </thead>
      <tbody>
      
        <% urls.forEach((url, index) => { %>
       <tr>
     <td><%= index + 1 %></td>
     <td><%= url.shortId %></td>
     <td><%= url.redirectURL %></td>
     <td><%= url.visitHistory.length %></td>
     <% }) %>
    </tr>
      </tbody>
        </table>
         <% } %>
    </div>
    </div>
    
</body>
</html>